// Color Scheme

// First Color Scheme
$white: #FFF;
$platinum: #E6E7E7;
$ligt-gray:#D1D1D1;

// Second Color Scheme
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

// Third Color Scheme
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6570;

// Tipography

//Font Family
$roboto: 'Roboto', sans-serif;
$playfair-display: 'Playfair Display', serif;


// Font Weight
$light: 300;
$regular: 400;
$black-italic: 900;

// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
