.section-principal{
  height: 100vh;
  background-image: url(../images/post-image.jpg);
  box-sizing: cover;
  background-repeat: no-repeat;
}

.section-principal__h1{
  padding-top: 8rem;
  color: white;
  text-align: center;
  font-family: $playfair-display;
  font-size: $xx-large;
}
